<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table class="table table-header table-trip table-striped table-bordered">
    <thead>
    <tr>
        <th>Tiêu chí</th>
        <th>Spring MVC</th>
        <th>Spring Boot</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Khái niệm</td>
        <td>Là một module trong Spring Framework dùng để xây dựng ứng dụng web theo mô hình MVC truyền thống.</td>
        <td>Là một framework được xây dựng trên nền tảng Spring, giúp phát triển ứng dụng Spring dễ dàng và nhanh chóng.</td>
    </tr>
    <tr>
        <td>Cấu hình</td>
        <td>Cần cấu hình nhiều file XML hoặc Java để thiết lập các thành phần của ứng dụng.</td>
        <td>Có cấu hình tự động, giảm thiểu việc phải viết mã cấu hình, sử dụng các annotation để cấu hình.</td>
    </tr>
    <tr>
        <td>Khởi tạo dự án</td>
        <td>Phải tạo cấu trúc và file cấu hình thủ công hoặc sử dụng Spring Initializr kèm các cài đặt riêng.</td>
        <td>Có thể khởi tạo nhanh chóng bằng Spring Initializr, hỗ trợ cấu hình sẵn.</td>
    </tr>
    <tr>
        <td>Quản lý phụ thuộc</td>
        <td>Người dùng phải chọn và cấu hình các dependency phù hợp.</td>
        <td>Spring Boot cung cấp starter dependencies giúp quản lý phụ thuộc dễ dàng hơn.</td>
    </tr>
    <tr>
        <td>Thời gian phát triển</td>
        <td>Tốn thời gian do phải thiết lập nhiều cấu hình ban đầu.</td>
        <td>Tiết kiệm thời gian phát triển nhờ cấu hình tự động và starter packages.</td>
    </tr>
    </tbody>

</table>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>